    version: '3.8'

    services:
      n8n:
        image: n8nio/n8n:latest
        restart: always
        ports:
          - "5678:5678"
        env_file: .env.example
        volumes:
          - /APPDATA/n8n_data:/home/node/.n8n
        depends_on:
          - db
          - redis

      db:
        image: postgres:latest
        restart: always
        environment:
          - POSTGRES_DB=n8n
          - POSTGRES_USER=n8n
          - POSTGRES_PASSWORD=n8n
        volumes:
          - /APPDATA/db_data:/var/lib/postgresql/data
      redis:
        image: redis:latest
        restart: always
        ports:
          - "6379:6379"
        volumes:
          - /APPDATA/redis_data:/data
    